/*
* @Author: Joesonw
* @Date:   2016-11-01 11:47:33
* @Last Modified by:   Joesonw
* @Last Modified time: 2016-11-01 11:53:45
*/

.image {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}